# arquivo editorconfig de maior prioridade
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,html,css}]
indent_size = 4
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false
