################
# editorconfig #
############################
# https://editorconfig.org #
############################

# arquivo editorconfig de maior prioridade
root = true

# quebras de linha em estilo unix, com uma quebra de linha no final de cada arquivo
[*]
end_of_line = lf
insert_final_newline = true

# definição de charset padrão
[*.{js,html,css}]
charset = utf-8

# indentação de 2 espaços
[*.{js,html,css}]
indent_style = space
indent_size = 2
