.icon[data-v-20aeb511] {
	align-items: center;
	display: flex;
	height: 14px;
	justify-content: center;
	position: relative;
	width: 14px;
}
.icon[data-v-20aeb511]:after,
.icon[data-v-20aeb511]:before {
	content: "";
	position: absolute;
	width: 100%;
	--tw-bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
	height: 2px;
}
.icon[data-v-20aeb511]:after {
	transform: rotate(90deg);
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.57, 0.06, 0.05, 0.95);
}
.is-expanded .icon[data-v-20aeb511]:after {
	transform: rotate(0);
}
