.tag[data-v-c0b20860] {
	align-items: center;
	border-radius: 12px;
	display: flex;
	height: 1.5rem;
	justify-content: center;
	position: absolute;
	width: auto;
	z-index: 50;
	--tw-bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.tag[data-v-c0b20860],
.tag.tag-empty[data-v-c0b20860] {
	--tw-text-opacity: 1;
}
.tag.tag-empty[data-v-c0b20860] {
	background-color: transparent;
	color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.product-card[data-v-428a4581] {
	height: auto;
	position: relative;
	width: 100%;
}
.product-card .card-link[data-v-428a4581] {
	height: 100%;
	width: 100%;
}
.product-card .card-link .product-tag[data-v-428a4581] {
	right: 0.5rem;
	top: 0.5rem;
}
@media (min-width: 640px) {
	.product-card .card-link .product-tag[data-v-428a4581] {
		right: 1rem;
		top: 1rem;
	}
}
.product-card .card-link .image-container[data-v-428a4581] {
	aspect-ratio: 3/4;
	display: block;
	position: relative;
	width: 100%;
}
.product-card .card-link .image-container .image[data-v-428a4581] {
	height: 100%;
	width: 100%;
}
.product-card .card-link .image-container .main-image[data-v-428a4581] {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}
.product-card .card-link .image-container .main-image[data-v-428a4581] img {
	display: block;
	height: 100%;
	left: 0;
	-o-object-fit: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	width: 100%;
}
.product-card .card-link .image-container .hover-image[data-v-428a4581] {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.product-card .card-link .image-container .hover-image[data-v-428a4581] img {
	display: block;
	height: 100%;
	left: 0;
	-o-object-fit: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	width: 100%;
}
.product-card .text-container[data-v-428a4581] {
	height: auto;
	min-height: 48px;
	position: relative;
}
@media (min-width: 640px) {
	.product-card .text-container[data-v-428a4581] {
		min-height: 72px;
	}
}
.product-card .text-container .bottom-non-hover-container[data-v-428a4581] {
	display: block;
}
.product-card .text-container .bottom-hover-area[data-v-428a4581] {
	display: none;
}
@media screen and (min-width: 640px) {
	.product-card:hover .main-image[data-v-428a4581] {
		opacity: 0;
	}
	.product-card:hover .main-image.no-hover-image[data-v-428a4581] {
		opacity: 0.5;
	}
	.product-card:hover .hover-image[data-v-428a4581] {
		opacity: 1;
	}
	.grayed-out:hover .main-image[data-v-428a4581] {
		opacity: 0;
	}
	.grayed-out:hover .main-image.no-hover-image[data-v-428a4581] {
		opacity: 0.5;
	}
	.grayed-out:hover .bottom-non-hover-container[data-v-428a4581] {
		display: none;
	}
	.grayed-out:hover .bottom-hover-area[data-v-428a4581] {
		display: block;
	}
}
