.media-container[data-v-00bc2c00] {
	height: auto;
	position: relative;
	width: 100%;
}
.media-container figure[data-v-00bc2c00] {
	width: 100%;
}
.media-container figure[data-v-00bc2c00] img {
	height: 100%;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	top: 0;
	width: 100%;
}
.media-container[data-v-00bc2c00] .video-container {
	position: relative;
	width: 100%;
}
.media-container[data-v-00bc2c00] .video-container video {
	height: 100%;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	position: relative;
	top: 0;
	width: 100%;
}
.media-container.aspect-square[data-v-00bc2c00] .video-container {
	height: 0;
	padding-bottom: 100%;
}
.media-container.aspect-square[data-v-00bc2c00] .video-container video {
	height: 100%;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}
@media screen and (min-width: 640px) {
	.media-container.desktop-16-9[data-v-00bc2c00] .video-container {
		height: 0;
		padding-bottom: 56.25%;
	}
	.media-container.desktop-16-9[data-v-00bc2c00] .video-container video {
		height: 100%;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
.page-section .section-container[data-v-cec51fab] {
	display: flex;
	flex-direction: column;
}
@media (min-width: 640px) {
	.page-section .section-container[data-v-cec51fab] {
		flex-direction: row;
	}
}
.page-section[data-v-cec51fab]:last-of-type {
	margin-bottom: 0;
}
.card-group-cta .top-area[data-v-41fd82a3] {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	padding-bottom: 2rem;
}
.card-group-cta .top-area .title[data-v-41fd82a3] {
	font-size: 32px;
	line-height: 1;
	text-transform: uppercase;
}
@media (min-width: 640px) {
	.card-group-cta .top-area .title[data-v-41fd82a3] {
		font-size: 64px;
		line-height: 1;
	}
}
.card-group-cta .content-area[data-v-41fd82a3] {
	align-items: center;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	display: flex;
	justify-content: center;
}
.carousel .slide[data-v-41fd82a3] {
	padding-left: 16px;
}
.carousel .mobile-card[data-v-41fd82a3] {
	border-radius: 1rem;
}
.carousel .mobile-card[data-v-41fd82a3] .text-area {
	padding-left: 1rem;
	padding-right: 1rem;
}
.card-cta[data-v-41fd82a3] {
	flex-shrink: 0;
}
@media screen and (max-width: 640px) {
	.card-cta[data-v-41fd82a3] {
		scroll-snap-align: start;
		width: 70%;
	}
}
@media screen and (min-width: 640px) {
	.card-cta[data-v-41fd82a3] {
		overflow: hidden;
	}
	.card-cta[data-v-41fd82a3] .special-image {
		display: block;
		transition-duration: 0.15s;
		transition-property: transform;
		transition-timing-function: cubic-bezier(0.57, 0.06, 0.05, 0.95);
	}
	.card-cta[data-v-41fd82a3]:hover .special-image {
		transform: scale(1.02);
	}
	.card-cta:hover .arrow-link[data-v-41fd82a3] {
		align-items: center;
	}
	.card-cta:hover .arrow-link[data-v-41fd82a3]:after {
		opacity: 1;
		transform: translate(0) scale(1) rotate(180deg);
	}
}
.mobile-carousel[data-v-41fd82a3] {
	scroll-snap-type: x mandatory;
	width: 100vw;
}
.mobile-carousel[data-v-41fd82a3]::-webkit-scrollbar {
	display: none;
}
.text-long-form[data-v-028e765b] strong {
	font-family: HelveticaNeueLTStd-BdCn;
}
.text-long-form[data-v-028e765b] h5 {
	font-family: HelveticaNeueLTStd-BdCn;
	font-size: 32px;
	line-height: 1;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
@media (min-width: 640px) {
	.text-long-form[data-v-028e765b] h5 {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}
.text-long-form[data-v-028e765b] h6 {
	font-family: HelveticaNeueLTStd-BdCn;
	font-size: 12px;
	letter-spacing: 0.01em;
	line-height: 1.33;
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-transform: uppercase;
}
@media (min-width: 640px) {
	.text-long-form[data-v-028e765b] h6 {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}
.text-long-form[data-v-028e765b] a {
	cursor: pointer;
	--tw-text-opacity: 1;
	color: rgb(128 125 115 / var(--tw-text-opacity, 1));
}
@media (min-width: 640px) {
	.text-long-form[data-v-028e765b] a:hover {
		--tw-text-opacity: 1;
		color: rgb(26 25 23 / var(--tw-text-opacity, 1));
	}
}
.text-long-form[data-v-028e765b] ul {
	list-style: disc inside;
}
.text-long-form[data-v-028e765b] ul li {
	font-family: HelveticaNeueLTStd-BdCn;
	font-size: 12px;
	letter-spacing: 0.01em;
	line-height: 1.33;
	text-transform: uppercase;
}
.text-long-form[data-v-028e765b] ol {
	list-style: decimal inside;
}
.text-long-form[data-v-028e765b] ol li {
	font-family: HelveticaNeueLTStd-BdCn;
	font-size: 12px;
	letter-spacing: 0.01em;
	line-height: 1.33;
	text-transform: uppercase;
}
.text-short-form[data-v-763daab5] {
	font-size: 32px;
	line-height: 1;
	text-align: center;
}
@media (min-width: 640px) {
	.text-short-form[data-v-763daab5] {
		font-size: 64px;
		line-height: 1;
	}
}
.text-short-form[data-v-763daab5] {
	display: grid;
}
@media screen and (max-width: 640px) {
	.text-short-form[data-v-763daab5] {
		gap: 0.5rem;
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}
@media screen and (min-width: 640px) {
	.text-short-form[data-v-763daab5] {
		gap: 2rem;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}
.text-short-form .content[data-v-763daab5] {
	grid-column-end: 7;
	grid-column-start: 1;
}
@media (min-width: 640px) {
	.text-short-form .content[data-v-763daab5] {
		grid-column-end: 12;
		grid-column-start: 2;
	}
}
.horizontal-rule[data-v-8be98143] {
	padding: 2rem;
}
@media (min-width: 640px) {
	.horizontal-rule[data-v-8be98143] {
		padding: 4rem;
	}
}
.horizontal-rule.full-bleed-hr[data-v-8be98143] {
	margin-left: -1rem;
	margin-right: -1rem;
}
@media (min-width: 640px) {
	.horizontal-rule.full-bleed-hr[data-v-8be98143] {
		margin-left: -4rem;
		margin-right: -4rem;
	}
}
.horizontal-rule.extra-space[data-v-8be98143] {
	padding-bottom: 4rem;
	padding-top: 4rem;
}
@media (min-width: 640px) {
	.horizontal-rule.extra-space[data-v-8be98143] {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}
}
.horizontal-rule hr[data-v-8be98143] {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}
.hero[data-v-ae64ce8d] {
	height: 100vh;
	position: relative;
	width: 100%;
}
@media screen and (min-width: 640px) {
	.hero[data-v-ae64ce8d] {
		margin-left: 0;
		width: 100%;
	}
	.hero:hover .button-link[data-v-ae64ce8d]:after {
		opacity: 1;
		transform: translate(20px);
	}
	.hero:hover .speaker-container[data-v-ae64ce8d] {
		opacity: 1;
	}
}
.hero .hero-underlay[data-v-ae64ce8d] {
	background: linear-gradient(180deg, #0c140b00, #0c140b80);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.hero[data-v-ae64ce8d] .media-container {
	height: 100%;
}
.hero[data-v-ae64ce8d] .media-container img {
	display: block;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.hero .center-media[data-v-ae64ce8d] {
	overflow: hidden;
}
@media (min-width: 640px) {
	.hero .center-media[data-v-ae64ce8d] {
		grid-column: 1/-1;
	}
}
.hero .text-area[data-v-ae64ce8d] {
	bottom: 0;
	display: flex;
	position: absolute;
	width: 100%;
}
.hero .text-area.spread-content[data-v-ae64ce8d] {
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	padding: 1rem;
	row-gap: 0.5rem;
	text-align: center;
}
@media (min-width: 640px) {
	.hero .text-area.spread-content[data-v-ae64ce8d] {
		padding: 2rem;
		text-align: left;
	}
}
.hero .text-area.center-content[data-v-ae64ce8d] {
	align-items: center;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	row-gap: 0.5rem;
	text-align: center;
}
@media (min-width: 640px) {
	.hero .text-area.center-content[data-v-ae64ce8d] {
		grid-column-end: 10;
		grid-column-start: 4;
	}
}
.hero .text-area.center-content .text-content[data-v-ae64ce8d] {
	text-align: center;
}
.hero .text-area .text-content[data-v-ae64ce8d] {
	text-align: left;
}
@media (min-width: 640px) {
	.hero .text-area .text-content[data-v-ae64ce8d] {
		max-width: 33vw;
	}
}
.hero .text-area .text-content .hero-header[data-v-ae64ce8d] {
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 0.5rem;
}
@media (min-width: 640px) {
	.hero .text-area .text-content .hero-header[data-v-ae64ce8d] {
		margin-bottom: 1.5rem;
	}
}
.hero .text-area .text-content .hero-subheader[data-v-ae64ce8d] {
	font-size: 16px;
	line-height: 1;
}
.carousel[data-v-e8542fb5] {
	margin-left: -32px;
	width: calc(100% + 32px);
}
@media screen and (max-width: 640px) {
	.carousel.index-carousel[data-v-e8542fb5] {
		margin-left: -32px;
		width: calc(100% + 48px);
	}
	.slideshow .arrow-container[data-v-e8542fb5] {
		display: none;
	}
}
.slideshow .arrow-btn[data-v-e8542fb5] svg path,
.slideshow .arrow-btn svg path[data-v-e8542fb5] {
	stroke: #1a1917;
}
@media screen and (min-width: 640px) {
	.slideshow .arrow-btn[data-v-e8542fb5]:hover svg path,
	.slideshow .arrow-btn:hover svg path[data-v-e8542fb5] {
		stroke: #807d73;
	}
}
.slideshow[data-v-e8542fb5] .carousel__slide .carousel__item {
	height: 100%;
	margin-left: 2rem;
	text-align: left;
	width: 100%;
}
.slideshow[data-v-e8542fb5] .carousel__slide .carousel__item .product-card {
	height: 100%;
	width: 100%;
}
.slideshow .carousel__slide .carousel__item[data-v-e8542fb5] {
	height: 100%;
	margin-left: 2rem;
	text-align: left;
	width: 100%;
}
.slideshow .carousel__slide .carousel__item[data-v-e8542fb5] .product-card {
	height: 100%;
	width: 100%;
}
.slideshow .carousel__slide[data-v-e8542fb5] .carousel__item {
	height: 100%;
	margin-left: 2rem;
	text-align: left;
	width: 100%;
}
.slideshow .carousel__slide[data-v-e8542fb5] .carousel__item .product-card {
	height: 100%;
	width: 100%;
}
.slideshow[data-v-e8542fb5] .carousel__slide--visible {
	transform: rotateY(0);
}
.slide-show[data-v-ce87a8f4] {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
	padding: 2rem 1rem;
}
@media (min-width: 640px) {
	.slide-show[data-v-ce87a8f4] {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
[data-v-ce87a8f4] .carousel {
	margin-right: -16px;
}
.slide-show[data-v-1e499083] {
	padding: 2rem 1rem;
}
@media (min-width: 640px) {
	.slide-show[data-v-1e499083] {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
[data-v-1e499083] .carousel {
	margin-right: -16px !important;
}
