.block-card[data-v-0b9ad4b0] {
	align-items: flex-end;
	aspect-ratio: 1/1;
	display: flex;
	height: auto;
	padding: 1rem;
	position: relative;
}
@media (min-width: 640px) {
	.block-card[data-v-0b9ad4b0] {
		padding: 2rem;
	}
}
@media screen and (min-width: 640px) {
	.block-card:hover .media-container[data-v-0b9ad4b0] {
		transform: scale(1.02);
	}
	.block-card:hover .arrow-link[data-v-0b9ad4b0]:after {
		opacity: 1;
		transform: translate(0) scale(1);
	}
}
.block-card .media-container[data-v-0b9ad4b0] {
	overflow: hidden;
	transition-duration: 0.3s;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.57, 0.06, 0.05, 0.95);
}
.block-card .image-container[data-v-0b9ad4b0],
.block-card .media-container[data-v-0b9ad4b0] {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.block-card .image-container[data-v-0b9ad4b0] {
	display: block;
}
.block-card .image-container[data-v-0b9ad4b0] img {
	display: block;
	height: 100%;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}
.block-card .button-area[data-v-0b9ad4b0] {
	text-align: left;
	width: 100%;
	z-index: 20;
}
.block-card .button-area .arrow-link[data-v-0b9ad4b0]:after {
	top: 4px;
	transform: translate(0) scale(1);
}
.block-card.overlay-card[data-v-0b9ad4b0] {
	overflow: hidden;
	position: relative;
}
.block-card.overlay-card .text-area[data-v-0b9ad4b0] {
	width: 100%;
}
@media screen and (min-width: 640px) {
	.block-card.text-right-card[data-v-0b9ad4b0] {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.block-card.text-right-card .text-area[data-v-0b9ad4b0] {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.block-card.text-right-card .text-area div[data-v-0b9ad4b0] {
		margin-left: auto;
		margin-right: auto;
		max-width: 464px;
		padding: 1rem;
	}
}
@media screen and (max-width: 640px) {
	.block-card.text-right-card[data-v-0b9ad4b0] {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.block-card.text-right-card .text-area[data-v-0b9ad4b0] {
		padding: 2rem;
	}
}
@media screen and (min-width: 640px) {
	.block-card.text-left-card[data-v-0b9ad4b0] {
		align-items: stretch;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}
	.block-card.text-left-card .text-area[data-v-0b9ad4b0] {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.block-card.text-left-card .text-area div[data-v-0b9ad4b0] {
		margin-left: auto;
		margin-right: auto;
		max-width: 464px;
		padding: 1rem;
	}
}
@media screen and (max-width: 640px) {
	.block-card.text-left-card[data-v-0b9ad4b0] {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.block-card.text-left-card .text-area[data-v-0b9ad4b0] {
		padding: 2rem 1rem;
	}
}
.block-card.vertical-card[data-v-0b9ad4b0] .media-container {
	margin-bottom: 1rem;
}
.page-wrapper[data-v-379c01ac] {
	margin-left: auto;
	margin-right: auto;
}
