.horizontal-rule[data-v-589ce384] {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
@media (min-width: 640px) {
	.horizontal-rule[data-v-589ce384] {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
}
.horizontal-rule.full-bleed-hr[data-v-589ce384] {
	margin-left: -1rem;
	margin-right: -1rem;
}
@media (min-width: 640px) {
	.horizontal-rule.full-bleed-hr[data-v-589ce384] {
		margin-left: -4rem;
		margin-right: -4rem;
	}
}
.horizontal-rule.extra-space[data-v-589ce384] {
	padding-bottom: 4rem;
	padding-top: 4rem;
}
@media (min-width: 640px) {
	.horizontal-rule.extra-space[data-v-589ce384] {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}
}
.horizontal-rule hr[data-v-589ce384] {
	--tw-border-opacity: 1;
	border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}
