.special-image img[data-v-4ae2b3b9] {
	opacity: 0;
	transition-duration: 0.5s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.57, 0.06, 0.05, 0.95);
}
.special-image img.is-loaded[data-v-4ae2b3b9] {
	opacity: 1;
}
.special-image.no-image[data-v-4ae2b3b9] {
	align-items: center;
	display: flex;
	justify-content: center;
	--tw-bg-opacity: 1;
	background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1));
	text-align: center;
	text-transform: uppercase;
}
